*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    background-color: #111;
}

/*HOME*/
.home{
    background-image: url("images/bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20%;
    z-index: 0;
}

.home h1{
    font-size: 110px;
    color: #fff;
    font-family: 'Poiret One', cursive;
    padding-top: 23%;
}

.home h2{
    font-size: 50px;
    color: #ebebeb;
    text-shadow: 3px 3px 4px #666;
    padding-top: 1%;
    font-family:'Poiret One', cursive;;
}

/*ABOUT*/
.abt{
    width: 100%;
    background-color: #000;
    padding-top: 3%;
    padding-bottom: 3%;

}

.abt img{
    border-radius: 50%;
}

.abt .img1{
    height: 330px;
    width: 330px;
    margin-left: 7%;
    margin-bottom: 5%;
}

.abt .img2{
    height: 230px;
    width: 230px;
    transform: rotate(10deg);
    float: right;
}

.abt .img3{
    height: 270px;
    width: 270px;
    transform: rotate(-15deg);
    float: left;
    margin-top: 9%;
}

.abt h1{
    font-size: 80px;
    color: brown;
    font-family: 'Piazzolla', serif;
    padding-top: 10%;

    text-align: center;
}

.abt h1:hover{
    animation: colour infinite 3s ease-in-out;
}

p {
    font-size: 27px;
    font-family: 'Piazzolla', serif;
    color: #fff;
    padding-right: 3%;
    text-align: center;
}



/*ANIMATION*/
@keyframes colour{
    1% {color: #fff; }
    20% {color: #6bc26d; }
    40% {color: #FFD700; }
    60% {color: #d685d1; }
    80% {color: aqua; }
    100% {color: #995ebd; }
}